* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-color: #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* make sticky */
header {
    background-image: linear-gradient(#696969, #f5f5f5);
    width:100%;
    display: flex;
    justify-content: center;
    padding:25% 25% 0 25% ;
    align-items: center;
    flex-wrap:wrap;
}

header h1 {
    font-size: 7vw;
    border-bottom: 3px solid;
    border-color:#dcdcdc;
    padding:5px;
}

nav {
    margin:10px 0;
    position:sticky;
    top:0;
    padding: 0 33%;
    background-color:#f5f5f5;
}

nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    list-style:none;
    align-items:center;
}

nav ul li {
    font-style: italic;
    font: size 22px;
}

nav ul li a {
    justify-content: space-between;
}


a:hover {
    font-weight: bold;
}

#about {
    width:100%;
    padding: 25% 10% 0 10%;
    align-items: flex-start;
    display:flex;
}

#projects, #contact {
    width:100%;
    padding:5% 10%;
    align-items:flex-start;
    display:flex;
}

.section-title {
    display: inline-block;
    text-align:center;
    width:50%;
    text-decoration: underline;
    border-left: 2px solid black;
}

.conotact-info{
    font-size: 1vw;
    margin: 5px;
}

.section-title img {
    padding: 40px 25px 25px 25px;
    height: auto;
    width:28vw;
}

.section-content {
    padding: 10% 2%;
    display: flex;
    flex-wrap: wrap;
}

.section-content h4{
    padding:0 0 12px;
    font-style: italic;
    font-size:2vw;
    text-align: left;
}

.section-content p {
    margin: 10px 50px;
    font-size: 1.5vw;
}

.section-content a{
    padding:0 50px;
    font-style: italic;
    color:rgb(43, 35, 95);
    font-size:1.5vw;
}


 /* add hover show image feature */

#projects {
    display:flex;
    width:100%;
    margin:0 auto;
}

.project-content{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

figure {
    text-align:center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

figure:hover{
    border: 2px solid black;
}

figure img {
    height: 200px;
    width: 250px;
    filter:grayscale(80%);
}

figure img:hover {
    height: 210px;
    width: 248px;
    filter:grayscale(0%);
    }


.section-title p{
    font-size: 1.5vw;
    margin-top:40px;
    text-decoration:none;
}

.contact-info {
    display: inline-block;

}


.contact-form{
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 5%;
}

input {
    width:100%;
}

textarea {
    resize: none;
    width:100%;
}

input:focus {
    background-color:#f5f5f5;
    outline:none;
}

textarea:focus {
    background-color: #f5f5f5;
    outline:none;
}


footer{
    width:100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: .5px solid black;
}

footer h2{
    font-size: 2vw;
    margin:0;
}

footer div{
    line-height:1.5;
    text-align: right;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 1vw;
      }
    
      footer{
        text-align: center;
        width: 100%;
        display: inline-flex;
      }

      .section-title {
        width: 80%;
      }
      
      #project {
        flex: 0 70%;
      }
      
      }



@media screen and (max-width: 768px) {
    #about {
        display:inline-block;
    }

    .section-title {
        width: 100%;
        padding-bottom: 10px;
    }

    .section-title img {
        width: 50vw;
    }

    .section-content {
        padding: 5% 10%;
    }

    .section-content h4 {
        font-size: 12px;
        text-align: center;
    }

    .section-content p  {
        font-size: 10px;
    }

    .section-content a  {
        font-size: 10px;
    }

    #projects {
        display:inline-block;
    }


    figure {
        margin:auto;
    }


    #contact {
        display: inline-block;
    }

    .section-title p {
        margin-top: 5px;
    }

    footer {
        display: inline-block;
    }

    footer img {
        width:90px;
    }
}
  
@media screen and (max-width: 575px) {
    
    nav ul {
        display:block;
        text-align: center;
    }

}